---
layout: default
title: Jobs
suppress_header: true
extra_css:
  - jobs.css
---

<div class="wrapper">
  <div class="jobs-container">
    <div class="jobs-overlay">
      <div class="jobs-content">
        <h1>Jobs</h1>
      </div>
    </div>
  </div>

  <div id="content">
    <div class="container vacancies">

      <div class="vacancy" id="service-eng">
        <h2>Junior Service Engineer
          <small>North or South America</small>
        </h2>

        <p>
          GitLab B.V. is growing quickly and we would love to grow our team with a Junior Service Engineer.
          The rising popularity of GitLab means that our professional services are in high demand.
          If you got the skills to help to our clients we would love to talk to you.
        </p>

        <p>
          Because most of our clients are in the United States you will need to be in a timezone near there.
          We are open to candidates who are located from Pacific Standard Time (-8) to Atlantic Standard Time (-4).
          If you are a vampire you can be located from Moscow Standard Time (+4) to Singapore Time (+8).
          We're open to candidates from both inside and outside the United States.
        </p>

        <h4>Responsibilities:</h4>

        <p>
          You would be engaging with our customers, this can be anything from as small advertising firm, a university
          to Fortune 100 clients. This will be mostly via email, but you will also have video conferences with them
          when needed.
        </p>

        <p>
          You will also help our Community Manager with questions coming from Twitter and Facebook and respond to questions
          on the GitLab.com Support Forum.
          When you do not have an appointment you engage with the rest of the core team to improve GitLab.
          You fix problems, add features, improve documentation, polish the website and engage with people on various forums.
        </p>


        <h4>Requirements</h4>

        <ul>
          <li>B.Sc. in Computer Science or equivalent experience</li>
          <li>Above average knowledge of Unix and Unix based Operating Systems</li>
          <li>1+ years of programming experience (Ruby and Ruby on Rails preferred)</li>
          <li>Good people skills</li>
          <li>Excellent spoken and written English</li>
        </ul>

        <p>
          At GitLab B.V. we mostly work from home and love to go to Rails conferences (paid for by GitLab B.V.).
          We are looking for people who can handle and enjoy the freedom that comes with working from home.
          Our water coolers are Slack and a daily Hangout.
        </p>

        <h3>Day in the life</h3>

        <p>
          A typical day as service engineer for GitLab starts with the weekly morning meeting.
          As you have a lot of contact with our customers, it's your task during the meeting to call everyone else to duty.
          After the meeting, you provide support to large companies using GitLab. Rather than answering everything
          quickly, you'll spend most of your time fixing bugs in GitLab, helping customers with complex scaling problems
          and if you can't solve it yourself, working with your colleagues on the issue at hand.
        </p>

        <p>
          Occasionally, you'll get access into the system of our customers to solve problems on the spot or call with them
          to discuss their plans of using GitLab.
        </p>

        <p>
          Besides support, you'll be looking for ways to improve GitLab in any facet. You might want to build a new
          feature, improve the website (yes please!) or initiate something new. You'll also be asked to manage our
          GitLab.com instance, where thousands of users push and pull happily every day, and have to help with releasing
          GitLab every month on the 22nds.
        </p>

        <p>
          GitLab is a booming startup in every sense of the word. You can do anything and there is more to do than
          hands are available. Everything you do will be something someone else doesn't have the time for or didn't
          have the time to think about. You'll make a significant change in the company.
        </p>

        <h3>Contact</h3>
        <p>
          Interested? Please send an email to sytse at gitlab dot com with a resume or a link to your LinkedIn profile.
          Please include "Vacancy Junior Service Engineer" in your email subject.
        </p>

        <p>
          <small>
            Note for all recruitment agencies: GitLab B.V. does not accept agency resumes. Please do not contact us.
          </small>
        </p>
      </div>

      <div class="vacancy" id="dir-sales">
        <h2>Director of Sales
          <small>San Francisco or remote</small>
        </h2>

        <p>
        Gitlab B.V. is quickly becoming more popular amongst organisations throughout
        the world to manage their source code. To keep up with our growth Gitlab B.V.
        is looking for a Director of Sales to act as our sales lead. This position will
        be responsible for Gitlab subscription deals for Fortune 500 companies and
        large governmental organizations. With tremendous inbound interest from these
        organizations, you will need to lead the sales process.
        </p>
        <p>
        Responsibilities:
        <ul>
          <li>Lead our account managers</li>
          <li>Get directly involved in deals when necessary</li>
          <li>Post-mortem analysis on wins/losses</li>
          <li>Manage and report on sales pipeline</li>
          <li>Provide input on product direction and strategy as a result of sales performance, post mortems and competitive analysis.</li>
          <li>Help marketing with developing product/content marketing materials (blog posts, white papers, product briefs, slide decks) that reflect GitLab's core value proposition, competitive advantage and market positioning</li>
        </ul>
        </p>

        <p>
        Requirements:
        <ul>
          <li>B2B sales experience</li>
          <li>Experience closing large deals ($100k+)</li>
          <li> Experience selling open source software (RedHat, MySQL, etc.) - ideally in the United States</li>
          </ul>
        </p>

        <p>
        Why work for Gitlab?
        </p>
        <p>
        Large performance bonus and/or stake in the company. If you have ambition,
        there is a growth path towards becoming a VP of Sales.
        You can work from anywhere and are welcome in our San Francisco office.
        </p>


        <h3>Contact</h3>
        <p>Interested in joining our motivated team? Send us a cover letter and your
        resume to sytse at gitlab dot com</p>

        <p>
          <small>
          Note for all recruitment agencies: GitLab B.V. does not accept agency resumes. Please do not contact us.
          </small>
        </p>
      </div>

      <div class="vacancy" id="director-of-marketing">
        <h2>Director of Marketing
        <small>San Francisco or remote</small></h2>

        <p>
          Gitlab is quickly becoming more popular amongst organisations throughout
          the world to manage their source code. We are driven by our open core model, where
          engineers in large organisations become our evangelists from within
          after using our products for free. That got us where we are now,
          but we want to move faster and further and are looking for a director
          of marketing to help us do just that.
        </p>

        <p>
          Responsibilities:
          <ul>
            <li>Lead our marketing efforts</li>
            <li>Help define our short and long term marketing strategy</li>
            <li>Analysis of previous marketing efforts</li>
            <li>Develop marketing materials that reflect GitLab's value proposition, advantages and positioning</li>
            <li>Manage different channels</li>
            <li>Work with sales to ensure a smooth handover criteria and process</li>
            <li>Implement Marketo or alternative for our website</li>
            <li>Work with the press, analysts and partners for announcements</li>
            <li>Manage ad spending, targeting</li>
          </ul>
        </p>

        <h3>GitLab</h3>
        <p>
          We're barely getting started with marketing and have reached what we
          have right now just with our product and positioning. You will truly
          give direction to the way marketing will be done at GitLab for the
          coming years.
          You can work from anywhere and are welcome in our San Francisco office.
        </p>

        <p>
          Requirements:

          <ul>
            <li>Experience leading marketing in a B2B space</li>
            <li>Experience marketing open source software or version control software</li>
          </ul>
        </p>

        <h3>Contact</h3>
        <p>
          If you're up for a battle against the behemoth on the market,
          send us a cover letter and your resume to sytse at
          gitlab dot com. Please include "Vacancy director marketing"
          in your email subject.
        </p>

        <p>
          <small>
            Note for all recruitment agencies: GitLab does not accept agency
            resumes. Please do not contact us.
          </small>
        </p>
      </div>

      <div class="vacancy" id="senior-am">
        <h2>Senior Account Manager
          <small>San Francisco or remote</small>
        </h2>

        <p>
          GitLab is growing fast. Coming out of Y Combinator, we want to
          conquer large enterprises that are moving to git and better software.
          To reach that goal, we are looking for a senior account manager to
          join our team.
        </p>

        <p>
          Responsibilities:
          <ul>
            <li>Take the lead in large deals</li>
            <li>Grow existing deals with our customers</li>
            <li>Manage relationships with perspective and current customers</li>
          </ul>
        </p>

        <p>
          Requirements:
          <ul>
            <li>Experience with B2B sales</li>
            <li>Experience closing large deals</li>
            <li>Bonus: experience selling open source software</li>
          </ul>
        </p>

        <h3>GitLab</h3>
        <p>
          Working for GitLab means joining a very productive, ambitious team,
          where independence is both valued and required. We work all over
          the world and like to spend time on <a href="https://about.gitlab.com/2015/04/08/the-remote-manifesto/">things that matter</a>.
          Your work will have a large impact on the present and future of
          GitLab.
          You can work from anywhere and are welcome in our San Francisco office.
        </p>

        <h3>Contact</h3>
        <p>
          If you're up for a battle against the behemot on the market,
          send us a cover letter and your resume to sytse at
          gitlab dot com. Please include "Vacancy senior account manager"
          in your email subject.
        </p>

        <p>
          <small>
            Note for all recruitment agencies: GitLab B.V. does not accept agency
            resumes. Please do not contact us.
          </small>
        </p>
      </div>

      <div class="vacancy" id="junior-account-manager">
        <h2>Junior Account Manager
        <small>San Francisco or remote</small> </h2>

        <p>
          For any company, large or small, GitLab is becoming the standard
          for source control management. We are looking for a
          junior account manager to help us grow even more, to even more companies.
        </p>

        <p>
          Responsibilities:
          <ul>
            <li>Manage new and existing deals with customers</li>
            <li>Grow existing deals</li>
            <li>Manage relationships with customers</li>
            <li>Work together with the sales team to conquer the world</li>
          </ul>
        </p>

        <p>
          Requirements:
          <ul>
            <li>Some experience with B2B sales</li>
            <li>Relevant background</li>
            <li>Interest in GitLab, and open source software</li>
          </ul>
        </p>

        <h3>GitLab</h3>
        <p>
          GitLab is growing fast and you can have the opportunity to grow with
          GitLab. Everyone is motivated, hard-working, honest and friendly.
          You will be required to work independent and are given flexibility
          in your work and time.
          You can work from anywhere and are welcome in our San Francisco office.
        </p>

        <h3>Contact</h3>
        <p>
          If you're excited to sell something that also comes for free,
          send us a cover letter and your resume to sytse at
          gitlab dot com. Please include "Vacancy junior account manager"
          in your email subject.
        </p>

        <p>
          <small>
            Note for all recruitment agencies: GitLab B.V. does not accept agency
            resumes. Please do not contact us.
          </small>
        </p>
      </div>

      <div class="title">
        <h4>If you're interested, our <a href="/team-handbook">team handbook is publicly available.</a></h4>
      </div>

    </div>
  </div>
</div>
